<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.hnw.rbk2000btii"
    android:versionCode="5"
    android:versionName="0.99.1" >

    <!-- API level 16 is needed for KEYBOARD_LAYOUTS etc. -->

    <!-- by default touchscreen is required by Android apps, we don't need one -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- keyboard -->

        <receiver android:name="jp.hnw.rbk2000btii.InputDeviceReceiver"
            android:label="@string/keyboard_layouts_rbk2000btii_label">
            <intent-filter>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS" />
            </intent-filter>
            <meta-data android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS"
                android:resource="@xml/keyboard_layouts" />
        </receiver>
    </application>

</manifest>
